extends baseEmail

block content
  p Hi #{firstName},
    p Forgot your password? Submit a request with your new password with secret key: #{url}.
    p If you didn't forget your password, please ignore this email

    p If you need any help with booking your next tour, please don't hesitate to contact me!
    p - BestTraveller